<div class="password-container">
  <div class="password-hint">
    <h2>Password Strength Checker</h2>
    <div class="hint-container">
      <button
        class="hint-icon"
        mat-icon-button
        matSuffix
        matTooltip="{{ hintText }}"
      >
        <mat-icon>help</mat-icon>
      </button>
    </div>
  </div>
  <app-password-input
    [(ngModel)]="password"
    (passwordChanged)="onPasswordChanged($event)"
    (visibilityToggled)="togglePasswordVisibility()"
  ></app-password-input>

  <div class="strength-indicator">
    <div
      class="strength-bar"
      [ngStyle]="{ 'background-color': section1Color }"
    ></div>
    <div
      class="strength-bar"
      [ngStyle]="{ 'background-color': section2Color }"
    ></div>
    <div
      class="strength-bar"
      [ngStyle]="{ 'background-color': section3Color }"
    ></div>
  </div>
</div>
